extends layout

block content
 div#wrapper
    #chart
      ul#numbers
        li
          span 10
        li
          span 9
        li
          span 8
        li
          span 7
        li
          span 6
        li
          span 5
        li
          span 4
        li
          span 3
        li
          span 2
        li
          span 1
        li
          span 0
      ul#bars
        li
          .bar(data-percentage="0")
          span Classical
        li
          .bar(data-percentage="0")
          span Jazz
        li
          .bar(data-percentage="0")
          span Rock
        li
          .bar(data-percentage="0")
          span Indie
        li
          .bar(data-percentage="0")
          span HipHop
        li
          .bar(data-percentage="0")
          span EDM
